<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{ title | titlecase }}</h1>
    <p>Just tag everything!</p>
  </div>
</div>

<div class="container">
  <div class="input-group mb-3">
    <input
      class="form-control"
      [(ngModel)]="currentTag.text"
      placeholder="let's tag it, shall we?"
      (keydown.tab)="handleTab($event)"
    />
    <div class="input-group-append">
        <button class="btn btn-success" type="submit">Go</button> 
    </div>
  </div>

  <div *ngIf="currentTag.text || allTags" class="tag-chip">
    <div class="tag-text">
      {{ currentTag.text }}
    </div>
  </div>

  <div *ngIf="allTags" class="pt-2">
    <div *ngFor="let tag of allTags" class="tag-chip" [ngStyle]="{'background-color': tag.bgcolor}">
        <div class="tag-text" [ngStyle]="{'color': tag.color}">
          {{ tag.text }} <span class="tag-cross">&times;</span>
        </div>
    </div>
  </div>
</div>
